* {
  all: unset;
}

.my-ass {
  background: transparent;
  font-family: Koulen;
  color: #dca06d;
  font-size: 18px;
}

.ass-day {
  font-size: 52px;
}

.ass-hour {
  font-size: 52px;
}

.ass-min {
  font-size: 42px;
}

.ass-sec {
  font-size: 18px;
  margin-left: 3px;
}
